.App {
  min-height: 100vh;
  background: #f6f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 40px;
}

h2 {
  color: #0A1931;
  margin-bottom: 30px;
}
